<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphae.rishi.towatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.alphae.rishi.towatch.Activities.MainActivity"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.youtube.com"
                    android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alphae.rishi.towatch.Activities.MovieDetailsActivity"
            android:parentActivityName="com.alphae.rishi.towatch.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alphae.rishi.towatch.Activities.MainActivity" />
        </activity>
        <activity
            android:name="com.alphae.rishi.towatch.Activities.AccountActivity"
            android:parentActivityName="com.alphae.rishi.towatch.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alphae.rishi.towatch.Activities.MainActivity" />
        </activity>
        <activity android:name="com.alphae.rishi.towatch.firebase.SignUpActivity" />
        <activity android:name="com.alphae.rishi.towatch.Activities.DiscoverActivity" />
        <activity android:name="com.alphae.rishi.towatch.Activities.WelcomeActivity"></activity>
    </application>

</manifest>